/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-family: "League Spartan", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

/* navbar styling */

.nav-link.btn {
  font-size: 16px;
  font-weight: 800;
  color: white;
  border: 3px solid;
  border-color: #d2f884;
  padding: 1rem;
}

.nav-link.btn:hover {
  background-color: #f47a36;
  color: #f3f5e8;
}

@media only screen and (max-width: 440px) /* iPhone 12 */ and (orientation: portrait) {
  .nav-link.btn {
    font-size: 10px; /* Set smaller font size for mobile */
    font-weight: 700;
    padding: 10px; /* Optional: Adjust padding for smaller screens */
    margin: 0 5%;
  }
  .navbar img {
    width: 20%;
    margin: 0 5%;
  }
}

/* hero section */
.hero-section {
  width: 100%;
  background-color: #fdffe5;
}
.center-text {
  text-align: center;
  background-color: #fdffe5;
  padding: 5% 5%;
  margin: 0 10%;
}

.center-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 5% 0;
}

.center-text p {
  font-size: 1.2rem;
  margin: 1%;
}

.center-text .learn-more {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  background-color: #d2f884;
  border: 2px solid;
  border-color: black;
  padding: 0 5%;
  margin: 2%;
}

.center-text .learn-more:hover {
  background-color: #f47a36;
  color: #f3f5e8;
}

@media only screen and (max-width: 440px) /* iPhone 12 */ and (orientation: portrait) {
  .hero-section {
    padding: 10% 0;
  }

  .center-text h1 {
    font-size: 2rem;
    font-weight: 600;
    padding: 10% 0;
  }

  .center-text p {
    font-size: 0.75rem;
    margin: 1%;
  }

  .center-text .learn-more {
    font-size: 1rem;
    font-weight: 800;
    border: 1px solid;
    padding: 5px 2.5rem;
    margin: 5% 0;
  }
}
