.x-ray-container {
  background-color: black;
  width: 100%;
}

.x-ray-container h1 {
  text-align: center;
  font-size: 3.5rem;
  color: white;
  padding-top: 5%;
  font-weight: 700;
}

.x-ray {
  background-color: black;
  color: #f3f5e8;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5% 0;
}

.x-ray h3 {
  color: #f3f5e8;
  font-size: 5vw;
  font-weight: 700;
  margin-left: 15%;
}

.x-ray .text {
  margin-left: 5%;
}

.x-ray .text p {
  font-size: 2.5vw;
  font-weight: 300;
  line-height: 2.8vw;
}

.x-ray .text p span {
  font-size: 3.5vw;
  font-weight: 800;
  color: #d4f871;
}

@media (max-width: 850px) {
  .x-ray-container h1 {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  .x-ray-container h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .x-ray-container h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 440px) /* iPhone 12 */ {
  .x-ray {
    display: block;
    margin: 0;
    padding: 5%;
    text-align: center;
  }

  .x-ray h3 {
    white-space: nowrap;
    font-size: 2rem;
    margin: 0;
    padding: 5%;
  }

  .x-ray .text {
    margin: 0;
    text-align: left;
    display: inline-block;
  }

  .x-ray .text p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .x-ray .text p span {
    font-size: 2rem;
  }
}
