* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slideLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.partners-section {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  font-size: 3.5vw;
  font-weight: 700;
  background: linear-gradient(to right, black, #151515 25%, #151515 75%, black);
  width: 100%;
  overflow: hidden;
}

.partners {
  overflow: hidden;
  padding: 0.5rem 0 3rem 0;
  white-space: nowrap;
  position: relative;
}

.partners-section h3 {
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-top: 3rem;
}

.partners:before,
.partners:after {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  content: "";
  z-index: 2;
}

.partners:before {
  left: 0;
}

.partners:after {
  right: 0;
}

.partners:hover .partners-slide {
  animation-play-state: paused;
}

.partners-slide {
  display: inline-block;
  animation: 50s slideLeftToRight infinite linear;
}

.partners-slide img {
  margin: 0 50px;
}

@media (max-width: 900px) {
  .partners-section h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .partners {
    padding: 0.5rem 0 2rem 0;
  }
  .partners-section h3 {
    padding-top: 2.5rem;
  }
  .partners-slide img {
    margin: 0 40px;
    padding-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .partners-section h3 {
    font-size: 1.2rem;
  }
  .partners-slide img {
    margin: 0 25px;
    width: 100px;
    height: auto;
  }
}

@media (max-width: 410px) {
  .partners {
    padding: 0.5rem 0 1rem 0;
  }
  .partners-section h3 {
    padding-top: 1.5rem;
  }
}
