.partners-container {
  width: 100%;
  background-color: #151515;
  
}

.partners-container h3 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: white;
  padding: 30px 0px 20px 0px;
  font-weight: 500;
}

.partners-logos {
  text-align: center;
  padding-bottom: 20px;
}

.partners-logos img {
  object-fit: contain;
  margin: 2% 4%;
}

@media (max-width: 800px) {
  .partners-container h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 650px) {
  .partners-container h3 {
    font-size: 2rem;
  }

  .partners-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .partners-logos img{
    margin: 15px 0;
  }
}

@media (max-width: 500px) {

  
}

